.navbar-nav{
    flex-direction: row!important;
}

.nav-color{
    color: black;
}

.nav-color:hover{
    color:coral;
}

.nav-color:after{
    content: "";
    display: block;
    height: 2px;
    background: coral;
    margin-top: 6px;
    opacity:0;
    transform: translateY(12px);
    transition: all 0.3s ease-in-out;
}

.nav-color:hover:after{
    transform: translateY(0px);
    opacity: 1;
}


.my-content,.users-content{
    margin: 10px auto;
    background-color: greenyellow;
}

.center,.title{
    text-align: center;
}
.user-name{
    text-align: right;
}
.content{
    margin: 50px auto;
    background-color: darkseagreen;
    padding: 10px;
    height:auto;
    width: 400px;
}
.movies{
    background-color: honeydew;
    margin: 10px auto;
    display: flex;
}
.movie{
    margin: 5px;
    background-color: lightslategray;
    height: 130px;
    width: 100px;
}

.fotter{
    background-color: darkolivegreen;
    text-align: center;
}